
body {
  margin: 5%;
  background:#ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 11pt;
}

h1 {
  text-align: center;
}

p.copyright {
  color: #000099;
  background-color: #c8c896;
  text-align: right;
  font-weight: bold;
}

a.nav {
  background:#f0f0f0;
  font-size: 9pt;
}
